img{
width: 100%;
height: auto;
}
.video{
max-width:460px;
margin: 24px auto;
 
}
.video video{
width: 460px;
height: 260px;
 
}
@media (min-width:320px) and (max-width:800px){
.video video{
width:100%;
height: 260px;
}
}