body{
padding: 0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}
header{
background-color: #061120;
padding: 18px;
overflow: hidden;
}
header h1{
font-size: 18px;
color: white;
}
header nav{
max-width: 860px;
margin: 24px auto;
}
header nav a{
font-size: 22px;
padding: 16px;
text-decoration: none;
color: orange;
}
/* main */
main {
max-width: 1200px;
margin: 24px auto;
padding: 16px;
}
main .call{
max-width: 900px;
margin: 24px auto;
}
main .call h4{
color: rgb(29, 9, 9);
padding:4px;
font-size: 34px;
}
main .call p{
color: green;
padding: 4px;
font-size: 20px;
}
main h2{
color: green;
font-weight: bolder;

}
main h2::after{
content: ' ✔️';
}

main article{
max-width: 1000px;
margin: 24px auto;
background-color: rgb(171, 192, 176);
padding: 16px;
border-radius: 0.4rem;
}
main article h3{
color: green;
}
main article p{
letter-spacing: 1.4px;
font-family:Arial, Helvetica, sans-serif;
}
/* section privacy policy */
main .policy{
max-width: 1000px;
margin: 24px auto;
padding: 24px;
border-bottom: 1px solid sandybrown;
}
main .policy h3{
color: #254157;
}
main .policy p{
letter-spacing: 1.4px;
font-family:Georgia, 'Times New Roman', Times, serif;
}
/* footer */
footer {
padding: 16px;
background-color: #061120;
 
}
footer p{
color: white;
text-align: center;
}
/* media query */
@media (min-width:300px) and (max-width:920px){
header nav{
width:800px;
margin:4px auto;
}
}