body{
margin: 0;    
padding: 0;    
background-color: #f1f5f9;
font-family: Arial, Helvetica, sans-serif;
}
.boton {
max-width: 1200px;
margin: 24px auto;
background-color: #061120;
padding:6px;
text-align: right;
overflow: hidden;
}
.boton button{
border: none;
padding: 16px;
background-color: brown;
color: white;
cursor: pointer;
 
}
.boton button:hover{
background-color: #f1f5f9;
color: #061120;
}
main{
max-width: 94%;
margin: 24px auto;
}
main .titulo{
max-width: 80%;
margin: 24px auto;
}
main section{
max-width: 560px;
margin: 24px auto;
 
}
 main section iframe{
max-width:100%;
margin: 24px auto;
}
main section h1{
 text-align: center;
}

