<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="THE BEST PRICES IN THE AREA., miguel laguna, lawn services an lanham md">
    <meta name="author" content="Miguel Laguna - Miguel Lawn Services">
    <link rel="shortcut icon" href=" https://img.icons8.com/cute-clipart/64/thumb-up.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/prices.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Good Prices</title>
</head>
<body>
      <header>
        <h1>Miguel Lawn Servives</h1>
        <nav>
            <a href="/index.html">Home</a>
            <a href="/components/photos.html">Photos</a>
            <a href="tel:12408838479">Contact</a>
        </nav>
    </header>
    <main> 
        <section class="call">
            <h4>Call Now 240-883-8479</h4>
            <p>Best Lawn Mowing Service.</p>
        </section>
    <section class="pricing">
  <h2>THE BEST PRICES IN THE AREA.</h2>

  <table>
    <thead>
      <tr>
        <th>id-s</th>
        <th>Services</th>
        <th>Starting Prices</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>🌸</td>
        <td>Planting Flowers</td>
        <td>$360</td>
      </tr>
      <tr>
        <td>💦</td>
        <td>Power Washing</td>
        <td>$360</td>
      </tr>
      <tr>
        <td>🌱</td>
        <td>Lawn Mowing</td>
        <td>$80</td>
      </tr>
      <tr>
        <td>🧹</td>
        <td>Yard Clean-Up</td>
        <td>$380</td>
      </tr>
      <tr>
        <td>🍂</td>
        <td>Leaf Removal</td>
        <td>$260</td>
      </tr>
      <tr>
        <td>🧪</td>
        <td>Fertilization</td>
        <td>$160</td>
      </tr>
      <tr>
        <td>🌿</td>
        <td>Mulch Replacement</td>
        <td>$260</td>
      </tr>
      <tr>
        <td>✂️</td>
        <td>Trimming of Bushes</td>
        <td>$250</td>
      </tr>
      <tr>
        <td>🚿</td>
        <td>Weed Control</td>
        <td>$160</td>
      </tr>
      <tr>
        <td>🌾</td>
        <td>Sowing Grass Seeds</td>
        <td>$300</td>
      </tr>
    </tbody>
  </table>
</section>
 <section class="policy">
                <h3>Privacy Policy</h3>
                <p>At Miguel Lawn Services, we value your privacy. All information collected through our website is used solely to respond to your inquiries and improve our services. We do not share data with third parties without your consent.</p>
            </section>
</main>
 <footer>
        <p id="footer"></p>
    </footer>
    <script src="/script/script.js"></script>
</body>
</html>