<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="THE BEST PRICES IN THE AREA., miguel laguna, lawn services an lanham md">
    <meta name="author" content="Miguel Laguna - Miguel Lawn Services">
    <link rel="shortcut icon" href=" https://img.icons8.com/cute-clipart/64/thumb-up.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/prices.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Good Prices</title>
</head>
<body>
      <header>
         
        <nav>
          <div class="logo">Miguel Lawn Servives</div>
          <ul class="nav-links" id="navLinks">
            <li><a href="/index">Home</a></li>
            <li><a href="/components/photos">Photos</a></li>
            <li><a href="tel:12408838479">Contact</a></li>
          </ul>
          <div class="hamburger" id="hamburger">☰</div> 
        </nav>
    </header>
    <main> 
        <section class="call">
            <h4>Call Now 240-883-8479</h4>
            <p>Best Lawn Mowing Service.</p>
        </section>
    <section class="pricing">
  <h2>THE BEST PRICES IN THE AREA.</h2>

  <div class="container">
        <h1>Miguel Lawn Services</h1>

        <table>
        <caption class="titulo">
          THE BEST PRICES IN THE AREA.
        </caption>
            <thead>
                <tr>
                    <th>Icon</th>
                    <th>Services</th>
                    <th>Description</th>
                    <th>Prices</th>
                </tr>
            </thead>
            <tbody id="servicesTable"></tbody>
        </table>
    </div>
</section>
 <section class="policy">
                <h3>Privacy Policy</h3>
                <p>At Miguel Lawn Services, we value your privacy. All information collected through our website is used solely to respond to your inquiries and improve our services. We do not share data with third parties without your consent.</p>
            </section>
</main>
 <footer>
        <p id="footer"></p>
    </footer>
    <script src="/script/script.js"></script>
    <script src="/hamburger.js"></script>
    <script src="/js/prices.js"></script>
</body>
</html>