<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" href="https://img.icons8.com/fluency/48/youtube-squared.png" type="image/x-icon">
    <meta name="description" content="Hello, I’m Miguel Laguna. Please support me on my platforms—your support means a lot. Thank you!">
    <link rel="stylesheet" href="/css/yuotube.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Miguel Laguna  Thank you!</title>
</head>
<body>
    <header>
    <nav>
        <div class="logo">Miguel Lawn Services</div>
        <ul class="nav-links" id="navLinks">
            <li><a href="/index">Home</a></li>
            <li><a href="/components/photos">Photos</a></li>
            <li><a href="tel:12408838479">Contact</a></li>
        </ul>
             
         <div class="hamburger" id="hamburger">☰</div>    
            
    </nav>    
   
    </header>
   <main>
    <section class="boton">
    <section class="navega">
        <button id="boton">Change the color</button>
    </section>
    </section>
    <section class="titulo">
        <h1>Hello, I’m Miguel Laguna. Please support me on my platforms—your support means a lot. Thank you!</h1>
    </section>
     <section>
        <h2 class="tube">Follow us on YouTube 🎥👍</h2>
        <iframe width="560" height="315" src="https://youtube.com/embed/ZOi8SC3nQCw?si=TyDOZJ_ldhY0zL1r" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>
     <section>
   
      <iframe width="560" height="315" src="https://youtube.com/embed/NAVTOeYG7uw?si=RKK6rMW09xCZXlNv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>
    <section>
   
      <iframe width="560" height="315" src="https://youtube.com/embed/EVaewTbQraE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>
    <section>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-OT54jJuO5c?si=Mx1SzG2DKb0Ppm-3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>
    <section>
        <iframe width="560" height="315" src="https://youtube.com/embed/8sVVZUTx6-U?si=WWeWxJSa-a3l4ZVz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>
     <section>
        <iframe width="560" height="315" src="https://youtube.com/embed/y8zIUsjkvZg?si=WlJmCEKsP4M5VC9e" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>
    
    <section class="policy">
                <h3>Privacy Policy</h3>
                <p>At Miguel Lawn Services, we value your privacy. All information collected through our website is used solely to respond to your inquiries and improve our services. We do not share data with third parties without your consent.</p>
            </section>
   </main>

 <footer>
        <p id="footer"></p>
    </footer>
    <script src="/script/script.js"></script>
    <script src="/js/app.js"></script>
    <script src="/hamburger.js"></script>
</body>
</html>
